<div id="main">

    <h1>Eat the burger!</h1>


    <span id="uneaten">

        <h3>Burgers:</h3>

        <ul>
            {{#each burgers}} {{#unless devoured}}
            <br> {{>burgers/devour-burgers eaten=true}} {{/unless}} {{/each}}
        </ul>
    </span>

    <span id="newone">
        <img src="/assets/img/burger.png">
        <h2>Add a Burger</h2>
        <form class="create-form">
            <div class="form-group">
                <label for="newBurger">Burger Name:</label>
                <input type="text" id="newBurger" name="burgerName">
            </div>
            <br>
            <button type="submit" id="burgerbutton">Add Burger</button>
        </form>
    </span>

    <span id="eaten">
        <h3>Devoured:</h3>
        <ul>
            {{#each burgers}} {{#if devoured}}
            <article class="eaten">
                <br> {{>burgers/devour-burgers eaten=false}}</article> {{/if}} {{/each}}
        </ul>
    </span>
</div>